{#
/**
 * @file
 * bootstrap-panel.html.twig
 *
 * Markup for Bootstrap panels ([collapsible] fieldsets).
 */

#}
<fieldset{{ attributes }}>
  {% if title %}
    {% if collapsible %}
      <legend class="panel-heading">
        <a href="#" class="panel-title fieldset-legend" data-toggle="collapse" data-target="{{ target }}">{{ title }}</a>
      </legend>
    {% else %}
      <legend class="panel-heading">
        <span class="panel-title fieldset-legend">{{ title }}</span>
      </legend>
    {% endif %}
  {% endif %}
  {% if collapsible %}
    <div class="panel-collapse collapse fade{{ collapsed ? in : '' }}">
  {% endif %}
  <div class="panel-body">
    {% if description %}
      <div class="help-block">{{ description }}</div>
    {% endif %}
    {{ content }}
  </div>
  {% if collapsible %}
    </div>
  {% endif %}
</fieldset>
