<header id="navbar" role="banner" class="{{ navbar_classes }}">
  <div class="container">
    <div class="navbar-header">
      {% if logo %}
        <a class="logo navbar-btn pull-left" href="{{ front_page }}" title="{{ 'Home'|t }}">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
        </a>
      {% endif %}

      {% if site_name %}
        <a class="name navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">{{ site_name }}</a>
      {% endif %}

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    {% if primary_nav or secondary_nav or page.navigation %}
      <div class="navbar-collapse collapse">
        <nav role="navigation">
          {{ primary_nav }}
          {{ secondary_nav }}
          {{ page.navigation }}
        </nav>
      </div>
    {% endif %}
  </div>
</header>

<div class="main-container container">

  <header role="banner" id="page-header">
    {% if site_slogan %}
      <p class="lead">{{ site_slogan }}</p>
    {% endif %}

    {{ page.header }}
  </header> <!-- /#page-header -->

  <div class="row">

    {% if page.sidebar_first %}
      <aside class="col-sm-3" role="complementary">
        {{ page.sidebar_first }}
      </aside>  <!-- /#sidebar-first -->
    {% endif %}

    <section {{ content_column_class }}>
      {% if page.highlighted %}
        <div class="highlighted jumbotron">{{ page.highlighted }}</div>
      {% endif %}
      {{ breadcrumb }}
      <a id="main-content"></a>
      {{ title.prefix }}
      {% if title %}
        <h1 class="page-header">{{ title }}</h1>
      {% endif %}
      {{ title.suffix }}
      {{ messages }}
      {{ tabs }}
      {{ page.help }}
      {% if action_links %}
        <ul class="action-links"><{{ action_links }}</ul>
      {% endif %}
      {{ page.content }}
    </section>

    {% if page.sidebar_second %}
      <aside class="col-sm-3" role="complementary">
        {{ page.sidebar_second }}
      </aside>  <!-- /#sidebar-second -->
    {% endif %}

  </div>
</div>
<footer class="footer container">
  {{ page.footer }}
</footer>
