{#
/**
 * @file
 * Default theme implementation for a 'submit' #type (button) form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - icon: glyphicon icon.
 * - label: button label.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup templates
 */
#}
{% if icon_position == 'after' %}
    <button{{ attributes.addClass('js-form-submit') }}>{{ label }}{{ icon }}</button>{{ children }}
{% else %}
    <button{{ attributes.addClass('js-form-submit') }}>{{ icon }}{{ label }}</button>{{ children }}
{% endif %}
